.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 22.5px;
    row-gap: 50px;
    padding: 0 22.5px 50px;
}

.shop-container {
    padding-left: 30px;
    padding-right: 30px;
}