// Mixin for tablet media query
@mixin tablet {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

// Mixin for phone media query
@mixin phone {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 410px;

    @include tablet {
        width: 100%;
    }
    
    @include phone {
        width: 100%;
    }

    h2 {
        margin-top: 10px 0;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}