// Mixin for tablet media query
@mixin tablet {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

// Mixin for phone media query
@mixin phone {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

.authentication-container {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 30px auto;
    min-height: calc(100vh - 134px - 112px - 60px);
    padding: 0 30px;

    @include tablet() {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    @include phone {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}